:root{
    --Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);

--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--Light-grayish-blue);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.main-container{
    display: grid;
    max-width: 100vw;
    max-height: 70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 7rem;
    justify-items: center;
    
}

.container1, .container2, .container3, .container4, .container5{
    padding: 1.5rem;
    border-radius: 7px;
}

.inner-container1, .inner-container2, .inner-container3, .inner-container4, .inner-container5{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    background-color: inherit;
}

.mini-container1, .mini-container2, .mini-container3, .mini-container4, .mini-container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: inherit;
}

.container1{
    grid-column: 1/3;
    background-color: var(--Moderate-violet);
    color: var(--White);
    
}

.inner-container1 :last-child{
    background-color: inherit;
}


.container2{
    background-color: var(--Very-dark-grayish-blue);
    color: var(--White);
}

.container3{
    grid-column: 4/5;
    grid-row: -3/-1;
    background-color: var(--White);
    color: var(--Very-dark-blackish-blue);
}

.container4{
    background-color: var(--White);
    color: var(--Very-dark-blackish-blue);
}

.container5{
    grid-column: 2/4;
    background-color:var(--Very-dark-blackish-blue);
    color: var(--White);
    
}

img{
    border-radius: 50%;
}

p{
    background-color: inherit;
    padding: 0.5rem;
}

.mini-container1 p, .mini-container2 p, .mini-container3 p, .mini-container4 p, .mini-container5 p{
    padding: 0.1rem;
}


.container1>p:nth-of-type(1), .container2>p:nth-of-type(1), .container3>p:nth-of-type(1), .container4>p:nth-of-type(1), .container5>p:nth-of-type(1){   
    font-size: large;    
}

.container1 p:last-child, .container2 p:last-child, .container3 p:last-child, .container4 p:last-child, .container5 p:last-child{
    opacity: 70%;
}

.mini-container1 p:last-child, .mini-container2 p:last-child, .mini-container3 p:last-child, .mini-container4 p:last-child, .mini-container5 p:last-child{
    opacity: 50%;
}
